
body{
    
}
#servicios{
    text-align: center;
}
.servicios{
    padding: 5%;
    background-color: #eeeeee;
    /* background-color: rgba(255, 0, 0, 0.774); */
    
}
.row{
    padding: 0.5rem;
}


#fotos{
    height: 1%;
    
}


.exp{
  width: 50%;
  border-radius: 100%;
  margin: 10px;
    
}


.featurette-heading{
    text-align: center;
    padding-top: 5%;
}
hr.style-two {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(199, 36, 36, 0), rgba(236, 55, 55, 0.75), rgba(0, 0, 0, 0));
}
.btn-danger{
    text-align: center;
}
.map-container-section {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container-section iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
#features{

    text-align: center;
    
    margin: 10%;
}


h3{
    text-align: center;
}
.contactos{
    text-align: center;
    background-color: #eeeeee;
    background-color: ;
}


.fas{
      
     color: red;
}
.card{
  margin: 5%;
}
.navbar{
    justify-content: space-between;
    
    font-weight: bolder;
    color: #ffffff;
}
